<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.8" package="com.kouglov.Holoz" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="Holoz" android:icon="@drawable/icon"></application>
</manifest>